@model IEnumerable<Inmobiliaria_.Net_Core.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h4>Listado Inmuebles</h4>
<br />
<br />
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Agregar Nuevo</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                Propietario
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    Accion
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Propietario.Apellido)
                    @Html.DisplayFor(modelItem => item.Propietario.Nombre)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdInmueble" title="Editar"><span class="lnr lnr-pencil" style="font-weight:bold"></span></a>&nbsp;&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.IdInmueble" title="Eliminar"><span class="lnr lnr-cross" style="color:#fa0202; font-weight:bold"></span></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>